* {
    padding: 0;
    border: 0;
}


header {
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-color: rgba(78, 160, 255, 30)
  }
  
